node-red/flows.json
[{"id":"62b7137d.d7bcbc","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"6d7380f2.f15ee","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"b80fda8e.23df28","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"9d81a4da.3d2528","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"fe4c81e9.3d66f","type":"mqtt-broker","z":"","name":"homeassistant","broker":"192.168.0.226","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"35724c55.88b344","type":"inject","z":"62b7137d.d7bcbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"35 07 * * 1,2,3,4,5,6","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["8f01ac0.25c5b58"]]},{"id":"2e68261c.27e64a","type":"debug","z":"62b7137d.d7bcbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":100,"wires":[]},{"id":"736cfc21.c2b1f4","type":"function","z":"62b7137d.d7bcbc","name":"","func":"var Cnday = msg.payload.Result.nongli;\nCnday = Cnday.substring(5,7);\nvar msg_filter = {}\nmsg_filter.payload = Cnday\nreturn msg_filter;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["29372e30.5f1c52"]]},{"id":"29372e30.5f1c52","type":"debug","z":"62b7137d.d7bcbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":360,"wires":[]},{"id":"8f01ac0.25c5b58","type":"http request","z":"62b7137d.d7bcbc","name":"获取黄历","method":"GET","ret":"obj","paytoqs":false,"url":"api.djapi.cn/wannianli/get?date=20180215&cn_to_unicode=1&token=3265694f5c24c64ede0445071c4e5eb4&datatype=json","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":200,"wires":[["736cfc21.c2b1f4","2e68261c.27e64a"]]},{"id":"9933f6f.a38f108","type":"mqtt out","z":"62b7137d.d7bcbc","name":"","topic":"/node-red/nongli","qos":"0","retain":"false","broker":"fe4c81e9.3d66f","x":620,"y":240,"wires":[]},{"id":"faafccce.118c3","type":"inject","z":"6d7380f2.f15ee","name":"每天早6点备份","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["7167577f.59f7b8"]]},{"id":"aad4327a.6596f","type":"https-node","z":"6d7380f2.f15ee","name":"","method":"POST","ret":"txt","url":"","authorized":false,"agent":false,"x":656,"y":220,"wires":[["874a53ae.dbbfc"]]},{"id":"874a53ae.dbbfc","type":"debug","z":"6d7380f2.f15ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":796,"y":220,"wires":[]},{"id":"949d8372.734b1","type":"function","z":"6d7380f2.f15ee","name":"","func":"\nmsg.headers = {\n    'Content-Type':'application/json;charset=UTF-8',\n}\n\nmsg.url = 'https://gitee.com/api/v5/repos/oemsys/hass/contents/'+msg.date+'/NR_Formal/'+msg.time+msg.url+msg.name\n\nmsg.payload = {\n    'access_token':'4de4e65a21e6698d4f0a5de12dd19a85',\n    'content':msg.payload,\n    'message':'更新时间：'+msg.time\n    \n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":496,"y":220,"wires":[["aad4327a.6596f"]]},{"id":"5a9f1c93.36ebe4","type":"file in","z":"6d7380f2.f15ee","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":376,"y":220,"wires":[["949d8372.734b1"]]},{"id":"7167577f.59f7b8","type":"function","z":"6d7380f2.f15ee","name":"","func":"Date.prototype.Format = function (fmt) {  \n    var o = {\n        \"M+\": this.getMonth() + 1, //月份 \n        \"d+\": this.getDate(), //日 \n        \"h+\": this.getHours(), //小时 \n        \"m+\": this.getMinutes(), //分 \n        \"s+\": this.getSeconds(), //秒 \n        \"q+\": Math.floor((this.getMonth() + 3) / 3), //季度 \n        \"S\": this.getMilliseconds() //毫秒 \n    };\n    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + \"\").substr(4 - RegExp.$1.length));\n    for (var k in o)\n    if (new RegExp(\"(\" + k + \")\").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : ((\"00\" + o[k]).substr((\"\" + o[k]).length)));\n    return fmt;\n}\n\n//var file_name = new Date().Format(\"yyyy-MM-dd-hh-mm-ss\");\nmsg.date = new Date().Format(\"yyyy-MM-dd\");\n\nmsg.time = new Date().Format(\"yyyy-MM-dd hh:mm:ss\");\n\nvar dataurl = '/opt/appdata'\nvar cars = ''\n\ncars = [\".config.json\",\".config.json.backup\",\".flows.json.backup\",\".flows_cred.json.backup\",\"flows.json\",\"flows_cred.json\",\"package-lock.json\",\"package.json\",\"settings.js\"];\nfor (var i=0;i<cars.length;i++){\n  msg.url = '/iobroker/iobroker-data/node-red/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"jsonIrCode\",\"jsonSubIr\",\"jsonButton\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/iobroker/iobroker-data/node-red/RM/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\n\ncars = [\"app.min.js\",\"BaseMap.js\",\"MapTypes.js\",\"tracker-server.jar\",\"zh.json\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/Traccar/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"traccar.xml\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/Traccar/conf/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"database.mv.db\",\"database.trace.db\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/Traccar/data/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"alarm.vm\",\"deviceMoving.vm\",\"deviceOverspeed.vm\",\"driverChanged.vm\",\"ignitionOff.vm\",\"test.vm\",\"commandResult.vm\",\"deviceOffline.vm\",\"deviceStopped.vm\",\"geofenceEnter.vm\",\"ignitionOn.vm\",\"textMessage.vm\",\"deviceFuelDrop.vm\",\"deviceOnline.vm\",\"deviceUnknown.vm\",\"geofenceExit.vm\",\"maintenance.vm\",\"unknown.vm\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/Traccar/short/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\n\n\ncars = [\"configuration.yaml\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"amazing_box.yaml\",\"dianli.yaml\",\"ktkt.yaml\",\"pc.yaml\",\"ups.yaml\",\"dfjkt.yaml\",\"jiaofei.yaml\",\"m1.yaml\",\"rm.yaml\",\"zingguo_yuba.yaml\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/packages/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"lovelace\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/.storage/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"weather.py\",\"manifest.json\",\"__init__.py\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/custom_components/hf_weather/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"__init__.cpython-37.pyc\",\"heweather_forecast.cpython-36.pyc\",\"weather.cpython-37.pyc\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/custom_components/hf_weather/__pycache__/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"m1.jpg\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/www/device/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"hf_weather-more-info.js\",\"hf_weather-card_new.js\",\"hf_weather-card.js\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/www/custom-lovelace/hf_weather-card/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"cloudy-day-1.svg\",\"cloudy-night-3.svg\",\"rainy-2.svg\",\"rainy-7.svg\",\"snowy-5.svg\",\"weather_sagittarius.svg\",\"cloudy-day-2.svg\",\"cloudy.svg\",\"rainy-3.svg\",\"snowy-1.svg\",\"snowy-6.svg\",\"weather_sunset.svg\",\"cloudy-day-3.svg\",\"day.svg\",\"rainy-4.svg\",\"snowy-2.svg\",\"thunder.svg\",\"cloudy-night-1.svg\",\"night.svg\",\"rainy-5.svg\",\"snowy-3.svg\",\"weather-sprite.svg\",\"cloudy-night-2.svg\",\"rainy-1.svg\",\"rainy-6.svg\",\"snowy-4.svg\",\"weather.svg\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/www/custom-lovelace/hf_weather-card/icons/static/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\ncars = [\"cloudy-day-1.svg\",\"cloudy-night-3.svg\",\"rainy-2.svg\",\"rainy-7.svg\",\"snowy-5.svg\",\"weather_sagittarius.svg\",\"cloudy-day-2.svg\",\"cloudy.svg\",\"rainy-3.svg\",\"snowy-1.svg\",\"snowy-6.svg\",\"weather_sunset.svg\",\"cloudy-day-3.svg\",\"day.svg\",\"rainy-4.svg\",\"snowy-2.svg\",\"thunder.svg\",\"cloudy-night-1.svg\",\"night.svg\",\"rainy-5.svg\",\"snowy-3.svg\",\"weather-sprite.svg\",\"cloudy-night-2.svg\",\"rainy-1.svg\",\"rainy-6.svg\",\"snowy-4.svg\",\"weather.svg\"];\nfor (i=0;i<cars.length;i++){\n  msg.url = '/HomeAssistant/www/custom-lovelace/hf_weather-card/icons/animated/'\n\tmsg.name = cars[i]\n\tmsg.filename = dataurl+msg.url+msg.name\n\tnode.send(msg);\n}\n\n\n\n\n\n","outputs":1,"noerr":0,"x":256,"y":220,"wires":[["5a9f1c93.36ebe4"]]},{"id":"db5e1de1.7129b","type":"comment","z":"6d7380f2.f15ee","name":"每天定时备份","info":"","x":70,"y":180,"wires":[]},{"id":"f8c3b4a.f64bc48","type":"comment","z":"b80fda8e.23df28","name":"备份流程","info":"","x":100,"y":200,"wires":[]},{"id":"7efd6793.7ebdb8","type":"function","z":"b80fda8e.23df28","name":"","func":"var urlls = msg.payload\n//msg.payload = ''\nfor ( var i = 0; i < urlls.split(\"\\n\").length; i++){\n    files = urlls.split(\"\\n\")[i]\n    file = files.substr(files.length-1,1)\n    if ( file == ':'){\n        dataurls = files.split(\":\")[0]\n        msg.dataurls = dataurls.slice(4); //alert(str.slice(3)) slice(5)\n        i = i+1\n        \n    }else if (file != ''){\n        msg.file = urlls.split(\"\\n\")[i]\n        msg.filename = dataurls+'/'+msg.file\n        //msg.i = i\n    //msg.url = urlls.split(\":\")[i]\n    //allId.slice(4);\n    //alert(str.substring(3)); \n    node.send(msg);\n    }\n\n    \n\n}\n\n","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["2c9e6e8.6e3b492"]]},{"id":"2c9e6e8.6e3b492","type":"file in","z":"b80fda8e.23df28","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":730,"y":260,"wires":[["ce11c764.7cde48"]]},{"id":"ce11c764.7cde48","type":"function","z":"b80fda8e.23df28","name":"","func":"\n\nmsg.headers = {\n    'Content-Type':'application/json;charset=UTF-8',\n}\n\nmsg.url = 'https://gitee.com/api/v5/repos/owner/hass/stargazers/'+msg.date+'/NR_Test/'+msg.time+'/'+msg.dataurls+'/'+msg.file\n\nmsg.payload = {\n    'access_token':'4de4e65a21e6698d4f0a5de12dd19a85',\n    'content':msg.payload,\n    'message':'更新时间：'+msg.time\n    \n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["8e887285.11e24"]]},{"id":"8e887285.11e24","type":"https-node","z":"b80fda8e.23df28","name":"","method":"POST","ret":"txt","url":"https://gitee.com/pc3806135/hass.git","authorized":false,"agent":false,"x":990,"y":260,"wires":[["c2d480eb.4f26d"]]},{"id":"f6d1756c.9af048","type":"inject","z":"b80fda8e.23df28","name":"每天6点自动备份","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["e016ac74.b9fe7"]]},{"id":"2c8abeaa.7a7fe2","type":"exec","z":"b80fda8e.23df28","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"提交git","x":490,"y":220,"wires":[["7efd6793.7ebdb8"],[],[]]},{"id":"e016ac74.b9fe7","type":"function","z":"b80fda8e.23df28","name":"","func":"Date.prototype.Format = function (fmt) {  \n    var o = {\n        \"M+\": this.getMonth() + 1, //月份 \n        \"d+\": this.getDate(), //日 \n        \"h+\": this.getHours(), //小时 \n        \"m+\": this.getMinutes(), //分 \n        \"s+\": this.getSeconds(), //秒 \n        \"q+\": Math.floor((this.getMonth() + 3) / 3), //季度 \n        \"S\": this.getMilliseconds() //毫秒 \n    };\n    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + \"\").substr(4 - RegExp.$1.length));\n    for (var k in o)\n    if (new RegExp(\"(\" + k + \")\").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : ((\"00\" + o[k]).substr((\"\" + o[k]).length)));\n    return fmt;\n}\n\n//var file_name = new Date().Format(\"yyyy-MM-dd-hh-mm-ss\");\nmsg.date = new Date().Format(\"yyyy-MM-dd\");\n\nmsg.time = new Date().Format(\"yyyy-MM-dd hh:mm:ss\");\n\n\nmsg.url = '/opt/'\n//msg.dataurl = 'appdata/Traccar'\nfiles = [\"hassio/homeassistant/custom_components\",\"hassio/homeassistant/packages\"];//要备份的目录含子文件夹\nfor (i=0;i<files.length;i++){\n\tmsg.dataurl = files[i]\n    msg.payload = `ls -lR ${msg.url}${msg.dataurl} |grep -v ^d|awk '{print $NF}'|tr -s '\\n'`\n\tnode.send([msg,null,null])\n}\nfiles = [\"hassio/homeassistant/node-red\"];//要备份的目录不含子文件夹\nfor (i=0;i<files.length;i++){\n    if (files[i] != ''){\n        msg.dataurl = msg.url+files[i]\n        msg.dataurls = files[i]\n        msg.payload = `ls -l ${msg.dataurl} |grep -v ^d|awk '{print $9}'|tr -s '\\n'`\n        node.send([null,null,msg])\n    }\n\t\n}\n\n\n","outputs":3,"noerr":0,"x":330,"y":260,"wires":[["2c8abeaa.7a7fe2"],["2c9e6e8.6e3b492"],["ddf98422.ede788"]]},{"id":"ddf98422.ede788","type":"exec","z":"b80fda8e.23df28","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"提交git","x":490,"y":300,"wires":[["ed4819a1.611648"],[],[]]},{"id":"ed4819a1.611648","type":"function","z":"b80fda8e.23df28","name":"","func":"var urlls = msg.payload\n//msg.payload = ''\nfor ( var i = 0; i < urlls.split(\"\\n\").length; i++){\n    file = urlls.split(\"\\n\")[i]\n//    file = files.substr(files.length-1,1)\n    if (file != ''){\n        msg.file = urlls.split(\"\\n\")[i]\n        msg.filename = msg.dataurl+'/'+msg.file\n        //msg.i = i\n    //msg.url = urlls.split(\":\")[i]\n    //allId.slice(4);\n    //alert(str.substring(3)); \n    node.send(msg);\n    }\n\n    \n\n}\n\n","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["2c9e6e8.6e3b492"]]},{"id":"c2d480eb.4f26d","type":"debug","z":"b80fda8e.23df28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":180,"wires":[]}]